<li class="acl-write separator"></li>
<%
  // grab the settings object
  var settings = require("ep_etherpad-lite/node/utils/Settings");
  // iterate through the actions array
  settings.ep_getselectionandpost.actions.forEach( function( action ){
%>
<li data-key="<%= action.l10n %>" data-type="button">
  <a
    class="glo"
    id="<%= action.id %>"
    data-l10n-id="ep_getselectionandpost.toolbar.<%= action.l10n %>.title"
  >
    <span class="glo buttonicon <%= action.classes %>">
      <span class="sr-only" data-l10n-id="ep_getselectionandpost.toolbar.<%= action.l10n %>.label">
      </span>
    </span>
  </a>
</li>
<% }); %>
